body {
  font-family: sans-serif;
}
.nav-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  
}

.nav-header * {
  margin-right: 10px;
  margin-top: 20px;
}

.menu{
  display: flex;
  list-style-type: none;
  padding: 20px;
}

.menu li a{
  text-decoration: none;
  color:black;
  margin-left:20px;
}

.nav-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-menu-area {
  display: flex;
  justify-content: center;
}

.burger-menu {
  margin-left: 20px;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.nav-section {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menu-list {
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

.menu-list li {
    padding: 10px;
}


.search-box {
  border-bottom: 1px solid black;
  position: absolute;
  right: 20px;
  padding: 5px;
}

.search-box input{
  border:none;
  margin-left:5px;
}

.search-box input:focus {
  outline:none
}

.product-card:hover .child {
    border:none !important;
    margin-bottom: 10px;
  }

  .product-img {
    display: flex;
    justify-content: flex-end;
  }

  .join-btn {
    margin-left: 10px;
  }

  .product-info div {
    margin-bottom: 10px;
  }

  .select-size {
    margin-top: 60px;
  }

  .product-title{
    font-size: 18px;
    font-weight: bold;
  }

  .con-price {
    display: flex;
    justify-content: flex-start;
  }

  .card{
    border:none !important;
    margin-bottom: 10px;
  }

  .choice{
    font-size:11px;
    color: #63786a;
    font-weight: bold;
  }

  .sp-price {
    width: 170px;
    background-color: #ffdede;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 230px;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
  }

  .add-btn {
    margin-top: 10px;
    width: 500px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
    background-color: #222222;
    color: #ffffff;
  }

  @media screen and (max-width: 63rem) {
    .hide {
      visibility:visible;
    }
    .menu-list {
      display: none;
    }
    .search-box{
      display: none;
    }
  }
  
  .side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index:2
  }

  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  } 

